SECRET_KEY=change_this_to_a_secure_random_value

USER_FILIP_PASSWORD=example_password
USER_MARLENA_PASSWORD=example_password
USER_GRZEGORZ_PASSWORD=example_password

USER_FILIP_EMAIL=filip@example.com
USER_MARLENA_EMAIL=marlena@example.com
USER_GRZEGORZ_EMAIL=grzegorz@example.com

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=user@example.com
MAIL_PASSWORD=example_password

CAM1_NAME=Furtka
CAM1_RTSP_URL=rtsp://admin:password@10.1.1.98:554/stream1
CAM2_NAME=Brama
CAM2_RTSP_URL=rtsp://admin:password@10.1.1.99:554/stream1

NGINX_URL=/files/
ROOT_SAVE_DIR=/mnt/dysk/recording
USER_NAME=filip
